NEXT_PUBLIC_SUPABASE_URL=..
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=..
# DATABASE_URL=..
DATABASE_URL=..
GROQ_API_KEY=..
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
APPLE_CORPUS_MANIFEST_URL=https://docs.google.com/spreadsheets/d/10IYB7P7G7LK_AX15Jhlq0LZwMla--x1PH8UtLRWAd28/edit?gid=0#gid=0
